body {
  background-color: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#container {
  /* width: 70px * 2 + 10px * 2; */
  width: 370px;
  margin: 50px auto 16px;
}

#board {
  list-style: none;
  margin: 0 0 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

#board li {
  background-color: #00aaff;
  width: 60px; /* +20px */
  height: 60px; /* +20px */
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 60px; /* +20px */
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
}

#board li.pressed {
  background-color: #ccc;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

#timer {
  margin-bottom: 8px;
  font-size: 30px;
  text-align: right;
}

#btn {
  cursor: pointer;
  user-select: none;
  background-color: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  color: #545454;
  font-size: 20px;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
  color: #545454;
}

#modal > h1 {
  margin: 0 0 20px;
  color: #545454;
  text-align: center;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

.rank {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: center;
}

table,
th,
td {
  padding: 5px;
  border: 2px solid #fff;
}